body {
    background-color:aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
h1 {
    color: brown;
}
p{
    size:0ch;
}
div{
    background-color: rgba(11, 236, 146, 0.991);
}
img{
    border-radius:10px;
}
.header{
    background-color: darkblue;
    color: white;
    text-align: center;
    margin-top: 60px;
}
.section{
    background-color: lightgray;
    margin: 20px;
    padding: 15px;
}
img{
    display: block;
    margin: auto;
}
.footer{
    background-color: lightgray;
    margin: 20px;
    padding: 15px;
}
.footer:hover{
    background-color: white;
}
button{
    background-color: magenta;
    color: white;
    Border: none;
    padding: 10px 20px;
    font-size: 16px;
}
button:hover {
    background-color:mediumslateblue;
}
.section:hover{
    background-color: white;
}
.navbar {
    background-color: black;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
}
.navbar a:hover {
    color: yellow;
}
input, textarea {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}
label {
    font-weight: bold;
}
